.rainbow {
	position: fixed;
	/*margin-left: -20px;*/
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -5;
}

.backgroundcolor {
	background-color: rgba(255, 255, 255, .60);
	z-index: -1;
	position: fixed;
	top: 0;
	left: 25%;
	right: 25%;
	bottom: 0;
}

.middlebar {
	/*background-color: rgba(255, 255, 255, .60);*/
	/*position: absolute;*/
	width: 800px;
	/*height: 900px;*/
	margin-left: auto;
	margin-right: auto;
	/*border: solid 2px black;*/
	z-index: 10;
}

.donatetoday {
	margin-top: 100px;
	font-size: 3em;
	font-family: arial;
	display: block;
	text-align: center;
	z-index: 10;
}

.girlneedswater {
	/*float: left;*/
	/*margin-top: 90px;*/
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	/*height: auto;*/
	display: block;
	border: solid 1px black;
	border-radius: 10px;
}

.donateform {
	border: solid 1px black;
	border-radius: 5px;
	background-color: #B2C2E0;
	width: 50%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: right;
}

label {
	text-align: right;
	margin-right: 15px;
	/*width: 30%;*/
	/*background-color: #B2C2E0;*/
	/*border: solid 2px black;*/
	font-family: arial;
}

input {
	font-family: inherit;
	font-size: 100%;
	border: 1px dotted #999;
	border-radius: 5px;
	padding: 2px		;

	-webkit-appearance: none;
}

.caret {
	width: 8px;
	height: 4px;
	
}